<h1>{{title}}</h1>
<form class="col-md-6">
  <input type="number" name="price" class="form-control" placeholder="search by price" [(ngModel)]="priceMax" />
</form>
<br>
<div class="row">
  <div class="col-md-3" *ngFor="let product of list">
<div class="card" style="width: 18rem;" *ngIf="product.price<=priceMax">
  <img src="{{product.picture}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{ product.description}}
    <br>
    price: {{product.price}}$
  </p>
  <button class="btn btn-sm  btn-danger" (click)="increamentlike(product)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
    </svg>
     {{product.nbrLike}}
  </button>

<button class="btn btn-sm  btn-warning" style="float: right;" (click)="buyProduct(product)" [disabled]="product.quantity==0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
  </svg>
  <span *ngIf="product.quantity==0">
    out of stock
  </span>
  </button>





  </div>
</div>
</div>

</div>

